body {
    font-family: var(--font-primary);
    padding-top: 20px;
    background-color: #f8fcff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}
.header-images {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: nowrap; 
}

.header-images img {
    width: 30%;
    height: auto;
}


.status-info {
    font-size: 0.9rem; 
}

.card {
    padding: 10px; 
    border: 1px solid #ccc; 
}

.btn-sm {
    padding: 0.25rem 0.5rem; 
    font-size: 0.875rem;
}
.value-button {
    width: 40px; 
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    margin: 2px;
    cursor: pointer;
    border: 1px solid #cccccc;
    background-color: #f8f9fa;
    transition: background-color 0.3s, color 0.3s;
}

.value-button.active {
    background-color: #007bff;
    color: #ffffff;
}


.collapse.show + .bi-chevron-down {
    transform: rotate(180deg); 
}
.highlight {
    background-color: #d4e0be;
}

.card-body {
    background-color: #f8f9fa; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.btn-custom-next {
    background-color: #9dadab; 
    color: white; 
}

.btn-custom-skip {
    background-color: #f44336;
    color: white;
}






.fullscreen {
    position: fixed;
    top: 30%;
    left: 15%;
    transform: scale(1.35);
    z-index: 1100;
    max-width: 100vw; 
    max-height: 100vh; 
    width: auto;
    height: auto;
}


#imageDisplay {
    max-width: 100%;
    height: auto;
}
#carImage {
    width: 900px;
    height: 1200px; 
    max-width: 100%; 
    max-height: 80%; 
    display: block;
    margin: 0 auto; 
    margin-top: -100px;
    margin-left: 400px;
    position: relative;
    z-index: 1;
    transform: scale(1.1) ;
}
#imageDisplay img {
    width: 100%;
    height: 700px;
    transition: transform 0.3s ease-in-out, z-index 0s 0.3s;
    border: 3px solid #dee2e6;
    border-radius: 5px;
    padding: 5px;
    margin-left: 40px;
    margin-top: 80px;
    cursor: pointer;
}

.static-img {
    width: 50%;
    height: 300px;
    border: 3px solid #dee2e6;
    border-radius: 5px;
    padding: 5px;
}
.image-container {
    flex: 0 0 30%; 
    margin-right: 1.5%; 
    text-align: center; 
}

.image-container:last-child {
    margin-right: 0; 
}

.static-img {
    width: 100%;
    height: auto; 
    border: 3px solid #dee2e6;
    border-radius: 5px;
    padding: 5px;
    transition: transform 0.3s ease; 
}

.toggle-button {
    padding: 0.375rem 0.75rem; 
    font-size: 0.875rem; 
    margin-top: 10px; 
    cursor: pointer; 
}
.container-top-controls {
    display: flex;
    align-items: center; 
    justify-content: start; 
    gap: 10px; 
}

.additional-info-display {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.btn-sm {
    flex-shrink: 0; 
}

.image-container.collapsed .static-img {
    transform: scale(0);
}

.lamp.active {
    background-color: #4CAF50; 
}

.form-label {
    cursor: pointer; 
}

.data-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.lamp-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}









.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-container.checked {
    background-color: #4CAF50; 
}

.key-label {
    display: block;
    background-color: #f8f9fa;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 5px 10px; 
    margin-bottom: 5px; 
    text-align: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%; 
}
.lamp-container {
    display: flex;
    justify-content: center; 
    padding-bottom: 10px; 
}

.lamp {
    width: 50px; 
    height: 60px;
    line-height: 60px; 
    border-radius: 50%;
    background-color: #ccc;
    text-align: center; 
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.fixed-height-container-data {
    height: 60px; 
    margin-bottom: 20px;
}

.fixed-height-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    height: 600px; 
    margin-bottom: 20px;
}

.col-lg-6, .col-lg-5 {
    padding-right: 20px; 
    padding-left: 20px;
    max-height: 600px; 
}


.container, .row, [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.no-padding {
    padding: 0 !important; 
}
.button-row {
    width: 100%; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    position: relative; 
    z-index: 2;

}

.img-fluid {
    width: 100%; 
    height: 80%; 
}





.lamp.active.level-1 { background-color: #76D7C4; } 
.lamp.active.level-2 { background-color: #F8C471; } 
.lamp.active.level-3 { background-color: #E74C3C; } 

.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}


.data-item {
    flex: 0 0 18%;
    margin-bottom: 10px;
    padding: 5px;
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    text-align: center;
}

.editable-container {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 5px;
}

.hidden-input {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.hidden {
    display: none;
}

.editable-container:hover .hidden-input {
    display: block;
    opacity: 1;
}

.editable:hover .hidden-input {
    display: inline;
    width: auto;
}

.form-label {
    font-weight: bold;
}
.label-blue {
    color: blue;
}


.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

button {
    width: 90%;
    margin-bottom: 5px;
    position: relative; 
    z-index: 2;
}
#dataDisplay > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative; 
    z-index: 2;
}
#dataDisplay .mb-3 {
    width: 40%; 
    min-width: 1px;
    position: relative; 
    z-index: 2;

}
.col-lg-7{
    margin-top: 150;
    margin-left: 150px;
}
* Styles pour les animations de toast */
.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transition: visibility 0.5s, opacity 0.5s linear;
}
.custom-control-input {
    display: none;
}

.custom-control-label::before, .custom-control-label::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0.5em;
    width: 34px;
    height: 20px;
    background-color: #ccc;
    border-radius: 999px;
    transition: background-color 0.2s;
}

.custom-control-label::after {
    background-color: #fff;
    height: 16px;
    width: 16px;
    top: 1px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s;
}

.custom-control-input:checked + .custom-control-label::before {
    background-color: #007bff;
}

.custom-control-input:checked + .custom-control-label::after {
    transform: translateX(16px);
}

.custom-control {
    margin-left: 50px;
    position: relative;
    padding-left: 40px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.custom-control-label {
    margin-bottom: 0; 
    cursor: pointer;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

.toast.hide {
    visibility: hidden;
    opacity: 0;
}
/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}



html {
    transform: scale(0.8);
    transform-origin: top left;
    width: 125.33%; /* 100 / 0.75 */
    height: 125.33%;
    overflow-x: hidden;
}
@media (max-width: 768px) {
    .value-button, .lamp {
        width: 25px; 
        height: 25px;
    }

    .key-label, .form-label {
        font-size: 0.7rem;
    }

    #dataDisplay .mb-3 {
        width: 30%; 
        position: relative; 
        z-index: 2;
    }

    body {
        padding-top: 5px;
    }
}
/* Style pour le toast */
.toast {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #333; 
    color: #fff;
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed;  
    z-index: 1; 
    left: 50%;
    bottom: 30px;
    font-size: 17px; 
    transition: visibility 0.5s, opacity 0.5s linear;
}

.toast.show {
    visibility: visible; 
    opacity: 1;
}

.toast.hide {
    visibility: hidden;
    opacity: 0; 
}
area {
    outline: 2px solid #aaa; 
    background-color: rgba(173, 201, 33, 0.5); 
}

.area-hover {
    background-color: rgba(185, 44, 44, 0.5); 
    outline: 2px solid #000; 
}

.area-level-1 { fill: #76D7C4 !important;  } 
.area-level-2 { fill: #F8C471 !important; } 
.area-level-3 { fill: #E74C3C !important; } 
.area-level-0 { fill: #7ab8ee !important; }

.zone-level-1 { fill: #76D7C4 !important; } 
.zone-level-2 { fill: #F8C471 !important; } 
.zone-level-3 { fill: #E74C3C !important; } 
.zone-level-0 { fill: #7ab8ee !important; } 


.interactive-zone {
    cursor: pointer;
    transition: fill 0.3s ease;
}

.interactive-zone:hover {
    fill: #329e4d;
    transform: scale(1.1);
}