body {
    font-family: var(--font-primary);
    padding-top: 20px;
    background-color: #f8fcff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}
.header-images {
    display: flex;
    justify-content: space-between; /* ou center pour centrer les images */
    align-items: center; /* pour les aligner verticalement au centre */
    flex-wrap: nowrap; /* pour éviter le retour à la ligne si la largeur de la page est réduite */
}

.header-images img {
    width: 30%;
    height: auto;
}


.status-info {
    font-size: 0.9rem; /* Reduce the font size for a more compact appearance */
}

.card {
    padding: 10px; /* Reduce padding within the card for a slimmer appearance */
    border: 1px solid #ccc; /* Optional: style the border of the card */
}

.btn-sm {
    padding: 0.25rem 0.5rem; /* Smaller padding for the button */
    font-size: 0.875rem; /* Smaller text for the button */
}
.value-button {
    width: 40px;  /* Augmenter la taille pour plus de visibilité */
    height: 40px;
    border-radius: 20px; /* Assurez-vous que les boutons sont parfaitement circulaires */
    display: inline-block;
    text-align: center;
    line-height: 38px; /* Ajustez cela pour centrer le texte verticalement */
    margin: 2px;
    cursor: pointer;
    border: 1px solid #cccccc;
    background-color: #f8f9fa;
    transition: background-color 0.3s, color 0.3s;
}

.value-button.active {
    background-color: #007bff; /* Couleur bleue pour l'élément actif */
    color: #ffffff;
}


.collapse.show + .bi-chevron-down {
    transform: rotate(180deg); /* Rotate icon when expanded */
}
.highlight {
    background-color: #d4e0be; /* Une couleur de fond pour mettre en évidence */
}

/* Additional styling to make it "bling" */
.card-body {
    background-color: #f8f9fa; /* Light background for the card body */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.btn-custom-next {
    background-color: #9dadab; /* Vert */
    color: white; /* Texte blanc */
}

.btn-custom-skip {
    background-color: #f44336; /* Rouge */
    color: white; /* Texte blanc */
}






.fullscreen {
    position: fixed;
    top: 30%;
    left: 15%;
    transform: scale(1.35); /*translate(-50%, -50%);*/
    z-index: 1100;
    max-width: 100vw; /* Ne dépasse pas la largeur de la fenêtre */
    max-height: 100vh; /* Ne dépasse pas la hauteur de la fenêtre */
    width: auto;
    height: auto;
}


#imageDisplay {
    max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
    height: auto; /* Permet à l'image de conserver son ratio hauteur/largeur */
}
#carImage {
    width: 900px; /* Définit la largeur de l'image SVG */
    height: 1200px; /* Définit la hauteur de l'image SVG */
    max-width: 100%; /* Assure que l'image ne dépasse pas la largeur du conteneur parent */
    max-height: 80%; /* Assure que l'image ne dépasse pas la hauteur du conteneur parent */
    display: block; /* Assure un comportement de bloc pour l'image SVG */
    margin: 0 auto; /* Centre l'image horizontalement */
    margin-top: -100px;
    margin-left: 400px;
    position: relative; /* Ajoutez une position relative pour que z-index fonctionne */
    z-index: 1;
    transform: scale(1.1) ;
}
#imageDisplay img {
    width: 100%;
    height: 700px;
    transition: transform 0.3s ease-in-out, z-index 0s 0.3s;
    border: 3px solid #dee2e6;
    border-radius: 5px;
    padding: 5px;
    margin-left: 40px;
    margin-top: 80px;
    cursor: pointer;
}

.static-img {
    width: 50%;
    height: 300px;
    border: 3px solid #dee2e6;
    border-radius: 5px;
    padding: 5px;
}
.image-container {
    flex: 0 0 30%; /* Chaque conteneur d'image occupera 30% de l'espace disponible */
    margin-right: 1.5%; /* Espacement entre les images */
    text-align: center; /* Centrer l'image dans le conteneur */
}

.image-container:last-child {
    margin-right: 0; /* Enlever la marge pour le dernier élément pour éviter le débordement */
}

.static-img {
    width: 100%; /* L'image remplira le conteneur */
    height: auto; /* Hauteur automatique pour maintenir l'aspect ratio */
    border: 3px solid #dee2e6;
    border-radius: 5px;
    padding: 5px;
    transition: transform 0.3s ease; /* Transition douce pour le transform */
}

.toggle-button {
    padding: 0.375rem 0.75rem; /* Réduction de la taille du bouton */
    font-size: 0.875rem; /* Petite taille de police */
    margin-top: 10px; /* Marge en haut pour séparation */
    cursor: pointer; /* Style du curseur */
}
.container-top-controls {
    display: flex;
    align-items: center; /* Alignement vertical au centre */
    justify-content: start; /* Alignement horizontal au début */
    gap: 10px; /* Espacement entre les éléments */
}

.additional-info-display {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacement entre les inputs */
}

.btn-sm {
    flex-shrink: 0; /* Empêche le bouton de rétrécir */
}

/* Ajout d'un effet de transition pour le toggle */
.image-container.collapsed .static-img {
    transform: scale(0); /* Réduit l'image à zéro */
}

.lamp.active {
    background-color: #4CAF50; /* Green when active */
}

.form-label {
    cursor: pointer; /* Makes it clear the label is clickable */
}

.data-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.lamp-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}









.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0; /* Couleur initiale */
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-container.checked {
    background-color: #4CAF50; /* Vert quand activé */
}

.key-label {
    display: block;
    background-color: #f8f9fa; /* Couleur de fond */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 5px; /* Bords arrondis */
    padding: 5px 10px; /* Espacement interne */
    margin-bottom: 5px; /* Espacement en dessous du label */
    text-align: center; /* Centrer le texte */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour un effet de profondeur */
    width: 100%; /* Assurez-vous que la largeur est correcte selon votre mise en page */
}

.lamp-container {
    display: flex;
    justify-content: center; /* Centrer les lampes horizontalement */
    padding-bottom: 10px; /* Espacement sous les lampes */
}

.lamp {
    width: 50px; /* Agrandir le cercle */
    height: 60px;
    line-height: 60px; /* Centrer la valeur verticalement */
    border-radius: 50%;
    background-color: #ccc;
    text-align: center; /* Centrer la valeur horizontalement */
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* Assurez-vous que le conteneur parent utilise toute la largeur et la hauteur disponibles */

.fixed-height-container-data {
/* Centrage vertical des enfants */
    height: 60px; /* Hauteur fixe */
    margin-bottom: 20px; /* Espace en dessous du conteneur */
}

.fixed-height-container {
    display: flex;
    align-items: center; /* Centrage vertical des enfants */
    justify-content: space-between; /* Répartition équilibrée des enfants */
    height: 600px; /* Hauteur fixe */
    margin-bottom: 20px; /* Espace en dessous du conteneur */
}

.col-lg-6, .col-lg-5 {
    padding-right: 20px; /* Aucun padding à droite */
    padding-left: 20px;
    max-height: 600px; /* Aucun padding à gauche */
}


/* Évitez le débordement horizontal */
.container, .row, [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

/* Si nécessaire, ajouter un contrôle plus précis */
.no-padding {
    padding: 0 !important; /* Supprimer le padding là où c'est nécessaire */
}
.button-row {
    width: 100%; /* Assure que la rangée de boutons utilise toute la largeur disponible */
    padding-top: 10px; /* Espacement au-dessus pour éviter le chevauchement */
    padding-bottom: 10px; /* Espacement en dessous pour une séparation claire */
    position: relative; /* Ajoutez une position relative pour que z-index fonctionne */
    z-index: 2;

}

.img-fluid {
    width: 100%; /* Pleine largeur pour les images responsive */
    height: 80%; /* Hauteur automatique pour maintenir l'aspect */
}





.lamp.active.level-1 { background-color: #76D7C4; } /* Vert clair */
.lamp.active.level-2 { background-color: #F8C471; } /* Orange */
.lamp.active.level-3 { background-color: #E74C3C; } /* Rouge */

.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}


.data-item {
    flex: 0 0 18%;
    margin-bottom: 10px;
    padding: 5px;
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    text-align: center;
}

.editable-container {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 5px;
}

.hidden-input {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.hidden {
    display: none;
}

.editable-container:hover .hidden-input {
    display: block;
    opacity: 1;
}

.editable:hover .hidden-input {
    display: inline;
    width: auto;
}

.form-label {
    font-weight: bold;
}
.label-blue {
    color: blue;
}

/* .container {
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 1200px;
    margin: auto;
} */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

button {
    width: 90%;
    margin-bottom: 5px;
    position: relative; /* Ajoutez une position relative pour que z-index fonctionne */
    z-index: 2;
}
#dataDisplay > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative; /* Ajoutez une position relative pour que z-index fonctionne */
    z-index: 2;
}
#dataDisplay .mb-3 {
    width: 40%; /* Calcule pour 5 éléments par ligne avec un peu d'espace */
    min-width: 1px;
    position: relative; /* Ajoutez une position relative pour que z-index fonctionne */
    z-index: 2;

}
.col-lg-7{
    margin-top: 150;
    margin-left: 150px;
}
* Styles pour les animations de toast */
.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transition: visibility 0.5s, opacity 0.5s linear;
}
.custom-control-input {
    display: none; /* Cache l'input d'origine */
}

.custom-control-label::before, .custom-control-label::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0.5em;
    width: 34px;
    height: 20px;
    background-color: #ccc;
    border-radius: 999px;
    transition: background-color 0.2s;
}

.custom-control-label::after {
    background-color: #fff;
    height: 16px;
    width: 16px;
    top: 1px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s;
}

.custom-control-input:checked + .custom-control-label::before {
    background-color: #007bff; /* Bleu bootstrap */
}

.custom-control-input:checked + .custom-control-label::after {
    transform: translateX(16px);
}

.custom-control {
    margin-left: 50px;
    position: relative;
    padding-left: 40px; /* Espace pour le faux interrupteur */
    margin-bottom: 1rem;
    cursor: pointer;
}

.custom-control-label {
    margin-bottom: 0; /* Supprime la marge par défaut de bootstrap */
    cursor: pointer;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

.toast.hide {
    visibility: hidden;
    opacity: 0;
}
/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}



html {
    transform: scale(0.8);
    transform-origin: top left;
    width: 125.33%; /* 100 / 0.75 */
    height: 125.33%;
    overflow-x: hidden;
}
@media (max-width: 768px) {
    .value-button, .lamp {
        width: 25px; /* Encore plus petit pour les petits écrans */
        height: 25px;
    }

    .key-label, .form-label {
        font-size: 0.7rem;
    }

    #dataDisplay .mb-3 {
        width: 30%; /* Augmenter l'espace pour chaque élément sur les petits écrans */
        position: relative; /* Ajoutez une position relative pour que z-index fonctionne */
        z-index: 2;
    }

    body {
        padding-top: 5px; /* Réduire l'espacement pour les petits écrans */
    }
}
/* Style pour le toast */
.toast {
    visibility: hidden; /* Caché par défaut */
    min-width: 250px; /* Largeur minimale */
    margin-left: -125px; /* Centrage du toast */
    background-color: #333; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    text-align: center; /* Texte centré */
    border-radius: 2px; /* Bords arrondis */
    padding: 16px; /* Padding autour du texte */
    position: fixed; /* Positionnement fixe */
    z-index: 1; /* S'assure qu'il apparaît au-dessus des autres éléments */
    left: 50%; /* Centrage horizontal */
    bottom: 30px; /* Position du bas */
    font-size: 17px; /* Taille de la police */
    transition: visibility 0.5s, opacity 0.5s linear; /* Transition pour l'apparition/disparition */
}

.toast.show {
    visibility: visible; /* Rend visible */
    opacity: 1; /* Complètement opaque */
}

.toast.hide {
    visibility: hidden; /* Cache après l'animation */
    opacity: 0; /* Transparent */
}
area {
    outline: 2px solid #aaa; /* Light grey outline */
    background-color: rgba(173, 201, 33, 0.5); /* Slight background color */
}

.area-hover {
    background-color: rgba(185, 44, 44, 0.5); /* Lighter background on hover */
    outline: 2px solid #000; /* Darker outline to highlight */
}

.area-level-1 { fill: #76D7C4 !important;  } /* Light green */
.area-level-2 { fill: #F8C471 !important; } /* Orange */
.area-level-3 { fill: #E74C3C !important; } /* Red */
.area-level-0 { fill: #7ab8ee !important; }

.zone-level-1 { fill: #76D7C4 !important; } /* Light green */
.zone-level-2 { fill: #F8C471 !important; } /* Orange */
.zone-level-3 { fill: #E74C3C !important; } /* Red */
.zone-level-0 { fill: #7ab8ee !important; } /* Some blue for no level specified */


.interactive-zone {
    cursor: pointer;
    transition: fill 0.3s ease;
}

.interactive-zone:hover {
    fill: #329e4d; /* Changement de couleur au survol */
    transform: scale(1.1);
}